*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 100vh repeat(5, min-content); }

.header {
  background-color: #686130;
  grid-column: 2 / 3; }

.footer {
  background-color: #ecbe9b;
  grid-column: 2 / 3; }

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: #2a4f50; }
