@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.container {
  position: relative;
  z-index: -100;
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh repeat(6, min-content); }

.heading-2 {
  font-size: 4rem;
  color: #8a4a28; }

.heading-1 {
  font-size: 10rem;
  color: #8a4a28;
  letter-spacing: 2rem; }

.heading-3 {
  font-size: 2.5rem; }
  .heading-3--light {
    color: #f2e1d3; }
  .heading-3--dark {
    color: #8a4a28; }

.heading-5 {
  font-weight: 700;
  font-size: 1.8rem;
  color: #8a4a28; }

.heading-sub {
  color: #8a4a28;
  margin: -0.5rem;
  margin-left: 0.2rem;
  font-size: 1.2rem; }

.u-margin-bottom-huge {
  margin-bottom: 8rem; }

.u-margin-bottom-huge {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.about {
  padding: 8rem 0;
  background-color: #2a4f50;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 13rem repeat(2, 1fr) 17rem;
  grid-template-rows: min-content min-content;
  align-items: center;
  justify-items: center; }
  .about__picture-box {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .about__picture {
    width: 80%; }
  .about__introduction {
    grid-column: 3 / 4;
    grid-row: 2 / 3; }
  .about__text {
    font-size: 1.4rem;
    color: #f2e1d3; }

.btn, .btn:link, .btn:visited {
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #f2e1d3;
  background-color: #686130;
  transition: all 0.2s;
  display: inline-block;
  border: none; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.contact {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  background-color: #ecbe9b;
  padding: 10rem 0rem;
  display: grid;
  grid-template-columns: 15rem 2fr 1fr 15rem;
  grid-template-rows: min-content min-content;
  grid-column-gap: 4rem; }
  .contact__form-box {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .contact__form {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .contact__group {
    margin: 0.7rem 0; }
    .contact__group--subject, .contact__group--message {
      grid-column: 1 / -1; }
  .contact__input {
    display: block;
    width: 90%;
    padding: 1rem 2rem 0.5rem 2rem;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 1rem;
    background-color: #f2e1d3;
    color: #8a4a28;
    transition: all 0.3s; }
    .contact__input--lg {
      width: 95%; }
    .contact__input:hover {
      box-shadow: 0 0.5rem 1rem rgba(138, 74, 40, 0.2); }
    .contact__input:focus {
      outline: none;
      border-bottom: 2.5px solid #8a4a28;
      box-shadow: 0 0.5rem 1rem rgba(138, 74, 40, 0.2); }
    .contact__input::placeholder {
      color: #8a4a28;
      font-family: "Nunito", sans-serif; }
    .contact__input:focus::placeholder {
      transform: translateY(3rem); }
  .contact__btn {
    margin-top: 1.2rem;
    padding: 1rem 2.5rem;
    background-color: #8a4a28;
    color: #f2e1d3;
    border: none;
    border-radius: 10rem;
    font-size: 1.4rem;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    transition: all 0.2s;
    justify-self: start; }
    .contact__btn:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(138, 74, 40, 0.2); }
    .contact__btn:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(138, 74, 40, 0.2); }
  .contact__details {
    grid-column: 3 / 4;
    grid-row: 2 / 3; }
  .contact__info-box {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: min-content min-content;
    align-items: center;
    grid-column-gap: 3rem;
    grid-row-gap: 1.7rem; }
  .contact__icon {
    height: 3rem;
    width: 3rem;
    fill: #8a4a28;
    grid-row: 1 / 2;
    grid-column: 1 / 2; }
  .contact__info {
    grid-row: 1 / 2;
    grid-column: 3 / 4; }
  .contact__text {
    margin-top: -0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #8a4a28; }

.divider {
  width: 100%;
  padding: 0 15rem 4rem 15rem;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 4rem max-content 1fr;
  grid-column-gap: 2rem;
  justify-self: start;
  align-items: center; }
  .divider__dot {
    width: 80%;
    grid-column: 1 / 2;
    margin-right: 3rem; }
  .divider__title {
    grid-column: 2 / 3;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5rem; }
    .divider__title--primary-light {
      color: #f2e1d3; }
    .divider__title--primary-dark {
      color: #8a4a28; }
  .divider__line {
    grid-column: 3 / 4;
    width: 100%;
    height: 1px; }
    .divider__line--primary-light {
      background-color: #f2e1d3; }
    .divider__line--primary-dark {
      background-color: #8a4a28; }

.experience {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  padding: 10rem 0;
  background-color: #f2e1d3;
  display: grid;
  grid-template-columns: 15rem 1fr 0.1fr 1fr 15rem;
  grid-template-rows: repeat(4, min-context);
  justify-items: start;
  align-items: center;
  grid-row-gap: 3rem; }
  .experience__work-img, .experience__education-img {
    justify-self: center;
    width: 60%; }
  .experience__education-img {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    animation: moveInLeft 1s ease-in; }
  .experience__education-description {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    animation: moveInLeft 1s ease-in; }
  .experience__work-img {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    animation: moveInLeft 1s ease-in 0.2s;
    animation-fill-mode: backwards; }
  .experience__work-description {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    animation: moveInLeft 1s ease-in 0.2s;
    animation-fill-mode: backwards; }
  .experience__date {
    margin-bottom: 1rem;
    color: #8a4a28; }
  .experience__school-name--sub {
    font-weight: 400;
    font-size: 1.2rem;
    color: #8a4a28; }
  .experience__school-name--main {
    font-weight: 600;
    font-size: 1.6rem;
    color: #8a4a28; }
  .experience__company-name {
    font-weight: 600;
    font-size: 1.6rem;
    color: #8a4a28; }
  .experience__work-details {
    font-size: 1.2rem;
    color: #8a4a28;
    font-weight: 400; }

.works {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  background-color: #b8b798;
  padding: 10rem 30rem; }

.header {
  background-color: #f2e1d3;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: relative;
  z-index: -2; }
  .header__logo {
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 3rem;
    left: 3.5rem; }
  .header__img {
    display: inline-block;
    height: 85vh;
    width: 100%;
    background-image: url(../../img/home-bg.svg);
    background-size: cover;
    position: absolute;
    bottom: -1rem;
    left: 0;
    z-index: -1; }
  .header__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 22%;
    animation: moveInLeft 1s ease-out; }
  .header__icons {
    display: flex;
    align-items: center;
    margin-top: -2rem;
    margin-left: 4rem;
    z-index: 5; }
  .header__icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: #8a4a28;
    transition: all 0.2s;
    margin-right: 4rem; }
    .header__icon:hover {
      transform: translateY(-3px) scale(1.5); }

.footer {
  height: 25vh;
  background-color: #ecbe9b;
  background-image: url(../../img/footer.svg);
  background-size: cover;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .footer__content {
    position: absolute;
    bottom: 2rem; }
  .footer__copyright {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #f2e1d3;
    display: block; }
  .footer__icons {
    display: flex;
    align-items: center;
    margin-top: -2rem;
    margin-left: 2.2rem;
    z-index: 5; }
  .footer__icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: #f2e1d3;
    transition: all 0.2s;
    margin-right: 2.2rem; }
    .footer__icon:hover {
      transform: translateY(-3px) scale(1.5); }

.navigation {
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__btn {
    position: fixed;
    top: 6rem;
    right: 6rem;
    height: 6rem;
    width: 6rem;
    background-color: #8a4a28;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(138, 74, 40, 0.3);
    z-index: 20;
    cursor: pointer; }
  .navigation__icon {
    margin-top: 3rem;
    position: relative; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      display: inline-block;
      height: 2px;
      width: 3rem;
      background-color: #f2e1d3; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      transform: translateY(-0.8rem); }
    .navigation__icon::after {
      transform: translateY(0.8rem); }
  .navigation__btn:hover .navigation__icon::before {
    transform: translateY(-1.1rem); }
  .navigation__btn:hover .navigation__icon::after {
    transform: translateY(1.1rem); }
  .navigation__background {
    position: fixed;
    top: 6.25rem;
    right: 6.25rem;
    height: 5rem;
    width: 5rem;
    background-color: #f2e1d3;
    border-radius: 50%;
    z-index: 5;
    background-image: radial-gradient(#f2e1d3, #8a4a28);
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1); }
  .navigation__nav {
    height: 0vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 10;
    opacity: 0;
    font-size: 0.5rem; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .navigation__item {
    margin: 0.5rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #8a4a28;
    letter-spacing: 0.2rem;
    padding: 1.2rem 2.5rem;
    transition: all 0.4s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #8a4a28 50%);
    background-size: 250%; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #f2e1d3;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
    height: 100vh;
    opacity: 1;
    font-size: 3rem; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(100); }
  .navigation__checkbox:checked ~ .navigation__btn .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__btn .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked ~ .navigation__btn .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
