@mixin icons-list($fill-color, $margin) {
  &__icons {
    display: flex;
    align-items: center;
    margin-top: -2rem;
    margin-left: $margin;
    z-index: 5;
  }

  &__icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: $fill-color;
    transition: all 0.2s;
    margin-right: $margin;

    &:hover {
      transform: translateY(-3px) scale(1.5);
    }
  }
}
