.about {
  padding: 10rem 15rem;
  background-color: $color-secondary-dark;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content;
  align-items: center;
  justify-items: center;

  &__picture-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__picture {
    width: 80%;
  }

  &__introduction {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &__text {
    font-size: 1.4rem;
    color: $color-primary-light;
  }
}
