.about {
  padding: 8rem 0;
  background-color: $color-secondary-dark;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 13rem repeat(2, 1fr) 17rem;
  grid-template-rows: min-content min-content;
  align-items: center;
  justify-items: center;

  &__picture-box {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &__picture {
    width: 80%;
  }

  &__introduction {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  &__text {
    font-size: 1.4rem;
    color: $color-primary-light;
  }
}
