.section--about {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: $color-secondary-dark;
}

.about {
  padding: 10rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content;
  align-items: center;
  justify-items: center;

  &__picture-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__picture {
    width: 80%;
  }

  &__introduction {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &__text {
    font-size: 1.4rem;
    color: $color-primary-light;
  }
}

@media (max-width: 37.5em) {
  .about {
    padding: 5rem;

    &__picture {
      width: 50%;
    }

    &__picture-box {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    &__introduction {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
  }
}
