.section--contact {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  background-color: $color-primary;
  padding: 10rem;
}

.contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content min-content;

  grid-column-gap: 4rem;

  &__form-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__form {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // transition: all 0.3s;
    // grid-template-rows: repeat(4, min-content);
  }

  &__group {
    margin: 0.7rem 0;
    &--subject,
    &--message {
      grid-column: 1 / -1;
    }
  }

  &__input {
    display: block;
    width: 90%;
    padding: 1rem 2rem 0.5rem 2rem;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 1rem;
    background-color: $color-primary-light;
    color: $color-primary-dark;
    transition: all 0.3s;

    &--lg {
      width: 95%;
    }

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba($color-primary-dark, 0.2);
    }

    &:focus {
      outline: none;
      border-bottom: 2.5px solid $color-primary-dark;
      box-shadow: 0 0.5rem 1rem rgba($color-primary-dark, 0.2);
    }

    &::placeholder {
      color: $color-primary-dark;
      font-family: "Nunito", sans-serif;
    }

    &:focus::placeholder {
      transform: translateY(3rem);
    }
  }

  //   &__input:placeholder-shown + &__label {
  //     opacity: 0;
  //     visibility: hidden;
  //     transform: translateY(-3rem);
  //   }

  //   &__label {
  //     color: $color-primary-dark;
  //     font-size: 1.2rem;
  //     font-family: "Nunito", sans-serif;
  //     display: block;
  //     padding: 0rem 2rem 1rem;
  //     transition: all 0.2s;
  //   }

  &__btn {
    margin-top: 1.2rem;
    padding: 1rem 2.5rem;
    background-color: $color-primary-dark;
    color: $color-primary-light;
    border: none;
    border-radius: 10rem;
    font-size: 1.4rem;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;

    transition: all 0.2s;
    justify-self: start;
    cursor: pointer;

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.2);
    }

    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-primary-dark, 0.2);
    }
  }

  &__details {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &__info-box {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: min-content min-content;
    align-items: center;
    grid-column-gap: 3rem;
    grid-row-gap: 1.7rem;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: $color-primary-dark;

    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &__info {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  &__text {
    margin-top: -0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-primary-dark;
  }
}
