.divider {
  padding: 0 15rem 4rem 15rem;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 4rem max-content;
  grid-column-gap: 2rem;

  justify-self: center;
  align-items: center;

  &__dot {
    width: 80%;
    grid-column: 1 / 2;
    margin-right: 3rem;
  }

  &__title {
    grid-column: 2 / 3;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    &--primary-light {
      color: $color-primary-light;
    }

    &--primary-dark {
      color: $color-primary-dark;
    }
  }

  &__line {
    grid-column: 3 / 4;
    min-width: 60vw;
    height: 1px;

    &--primary-light {
      background-color: $color-primary-light;
    }
    &--primary-dark {
      background-color: $color-primary-dark;
    }
  }
}
