.section--works {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  background-color: $color-secondary-light;
  padding: 10rem;
}

.works {
  display: grid;
  grid-template-rows: repeat(3, min-content);

  &__grid {
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
  }

  &__box {
    height: 18vw;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba($color-secondary, 0.5);
    transition: all 0.5s;

    &:hover {
      box-shadow: 0 2rem 3rem rgba($color-secondary, 0.5);
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.5s;
  }

  &__box:hover &__img {
    filter: blur(2px);
    transform: scale(1.05);
  }

  &__box:hover &__details {
    opacity: 1;
    background-color: rgba($color-secondary, 0.8);
    display: block;
  }

  &__box:hover &__details &__description,
  &__box:hover &__details &__title,
  &__box:hover &__details &__tags,
  &__box:hover &__details &__links {
    transform: translateY(0);
  }

  &__details {
    display: block;
    text-align: center;
    width: 102%;
    height: 102%;
    padding: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;
    opacity: 0;
  }

  &__description {
    font-size: 1.5rem;
    color: $color-primary-light;

    transform: translateY(3rem);
    transition: all 0.5s;
  }

  &__title {
    font-weight: 700;
    font-size: 2.5rem;
    color: $color-primary-light;
    margin-bottom: 0.7rem;

    transform: translateY(3rem);
    transition: all 0.5s;
  }

  &__tags {
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    top: 0rem;
    left: 2rem;
    color: $color-secondary;
    background-color: $color-primary-light;
    border-radius: 0 0 2rem 2rem;
    padding: 1rem 2rem 0.6rem;

    transform: translateY(-3rem);
    transition: all 0.5s;
  }

  &__btn-grid {
    margin-top: 6rem;
    justify-self: center;
    display: grid;
    grid-gap: 4rem;
  }

  &__btn--more {
    grid-row: 1/1;
    grid-column: 1/2;
  }

  &__btn--less {
    grid-row: 1/1;
    grid-column: 2/3;
  }

  &__links {
    transform: translateY(3rem);
    transition: all 0.5s;
  }
}
