.sidebar {
  padding-top: 4rem;
  text-align: center;

  &__list {
    list-style: none;
    font-size: 1.7rem;
  }

  &__item {
    position: relative;
    padding: 1rem 6rem 1rem 4rem;

    &:not(:last-child) {
      margin-bottom: 2px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $color-primary;
      transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.4s,
        background-color 0.1s;
      transform: scaleY(0);
    }

    &:hover::before,
    &--active::before {
      width: 100%;
      transform: scaleY(1);
    }
  }

  &__link {
    &:link,
    :visited {
      text-decoration: none;
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-primary-dark;
    margin-right: 2rem;
    z-index: 1;
  }

  &__text {
    color: $color-primary-dark;
    font-weight: 900;
    z-index: 1;
  }
}
