.heading-2 {
  font-size: 4rem;
  color: $color-primary-dark;
}

.heading-1 {
  font-size: 10rem;
  color: $color-primary-dark;
}

.heading-3 {
  font-size: 2.5rem;

  &--light {
    color: $color-primary-light;
  }

  &--dark {
    color: $color-primary-dark;
  }
}
