.heading-2 {
  font-size: 4rem;
  color: $color-primary-dark;
}

.heading-1 {
  font-size: 10rem;
  color: $color-primary-dark;
  letter-spacing: 2rem;
}

.heading-3 {
  font-size: 2.5rem;

  &--light {
    color: $color-primary-light;
  }

  &--dark {
    color: $color-primary-dark;
  }
}

.heading-5 {
  font-weight: 700;
  font-size: 1.8rem;
  color: $color-primary-dark;
}

.heading-sub {
  color: $color-primary-dark;
  margin: -0.5rem;
  margin-left: 0.2rem;
  font-size: 1.2rem;
}
