.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: $color-primary-light;
  // position: fixed;
  // height: 100vh;
  position: sticky; // See link
  top: 0; //to make it stick to the top of the screen
  height: 100vh; // make the height equal to 100 view height
}
