.footer {
  height: 25vh;
  background-color: $color-primary;
  background-image: url(https://svgur.com/i/gjT.svg);
  background-size: cover;
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  &__content {
    position: absolute;
    bottom: 2rem;
  }

  &__copyright {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: $color-primary-light;
    display: block;
  }

  @include icons-list($color-primary-light, 2.2rem);
}
