.header {
  background-image: linear-gradient(to bottom, $color-primary-light 80%, $color-secondary-dark 20%);
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: relative;
  z-index: -2;

  &__logo {
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 3rem;
    left: 3.5rem;
  }

  &__img {
    display: inline-block;
    // height: 85%;
    width: 100%;
    // background-image: url(https://svgur.com/i/gkD.svg);
    background-size: cover;
    position: absolute;
    bottom: -1rem;
    left: 0;
    z-index: -1;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 26%;
  }

  &__img {
    margin-bottom: -11rem;
  }

  // &__description {
  //   font-size: 1.4rem;
  //   color: $color-primary-dark;
  //   margin-top: -3rem;
  //   margin-bottom: 1rem;
  //   font-weight: 600;
  // }

  @include icons-list($color-primary-dark, 4rem);
}

.animate {
  animation: moveInLeft 0.8s ease-out;
}

@media (max-width: 37.5em) {
  .header {
    &__img {
      height: 40vh;
    }

    &__logo {
      height: 4rem;
      width: 4rem;
      position: absolute;
      top: 2rem;
      left: 2.5rem;
    }
  }
}